.col-md-9.pag {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Distribute space evenly between the items */
    margin-top: 20px;
  }
  
/* Pagination and select dropdown styling */
.ngb-pagination,
.sel {
  background-color: #eeebeb;
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Select dropdown styling */
.sel {
  padding: 2px;
  margin: 5px; /* Add some spacing between the pagination and select */
  text-align: center;
}

/* Style the select element */
.sel select {
  padding: 5px;
  border: 1px solid #eeebeb;
  font-size: 12px;
}

  