<div class="row">
  <div *ngFor="let temp of orders" class="col-md-4 myorder">
      <div class="card">
        <a routerLink="/orders/{{temp.id}}">
          <img src="../../../assets/img/{{temp.image}}.jpg" alt="food image" style="width:100%"></a>
        <h5 class="card-title">{{temp.orderName}}</h5>
        <p class="price">{{temp.price }}</p>
        <p class="dis">{{temp.description}}</p>
        <button class="btn btn-primary" (click)="addToCart(temp)">Add to Cart</button>
      </div>
      <h1 [innerHTML]="saif"></h1>
  </div>

  <div class="col-md-9 pag" style="padding-left: 30%;">
<ngb-pagination
[(page)]="page"
[collectionSize]="allRecords"
[pageSize]="pageSize"
(pageChange)="do()"
></ngb-pagination> 


<div class ="sel">
<span class="mr-2">Page Size</span>
<select (change)="onChange($event)">
<option>2</option>
<option>5</option>
<option>10</option>
</select>
</div>
</div>

  